<h2>Добавить новость:</h2>
<p>
	<form action="/new" method="POST" role="form">
		<p><textarea rows="2" cols="45" name="post[namenew]"></textarea></p>
		<br />
		<p><textarea rows="10" cols="100" name="post[content]"></textarea></p>
		<br/>
		<button type="submit" class="btn btn-success">Добавить новость</button>
	</form>
</p>